body {
  margin: 0; }

html {
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  line-height: 1.5; }

h1, h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.5;
  font-weight: 300;
  text-transform: uppercase; }

h2 {
  font-size: 32px; }

img {
  width: 100%;
  height: auto; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.loopstudios_header {
  background-image: url("../images/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: #ffffff;
  padding-block-end: 54px;
  padding-block-start: 54px; }

.loopstudios_header__logo_wrapper {
  padding-inline-end: 34%;
  padding-inline-start: 32px; }

.loopstudios_header__logo {
  width: 200px; }

.loopstudios_header__menu__list__link {
  color: #f7f1f1; }

.loopstudios_header__title__wrapper {
  padding-inline-end: 32px;
  padding-inline-start: 32px;
  padding-block-start: 119px;
  padding-block-end: 58px; }

.loopstudios_header__title {
  max-width: 80%;
  margin: auto;
  border: #ffffff solid 3px;
  padding: 36px; }

span .icon_hamburger,
.close_menu {
  width: 30px; }

.loopstudios_header {
  position: relative; }

.menu_dropdown {
  display: none; }

.loopstudios_header__menu__navigation {
  padding: 1rem;
  position: absolute;
  z-index: 3;
  top: 20%;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  box-shadow: 0 0 16px rgba(204, 181, 181, 0.5);
  transform: translateX(-140%); }

[type="checkbox"]:checked ~ header .loopstudios_header__menu__navigation {
  transform: translateX(0);
  background-color: #000000;
  border-radius: 5px; }

[type="checkbox"]:checked ~ header .loopstudios_header__menu {
  padding-block-start: 50px; }

[type="checkbox"]:checked ~ header .loopstudios_header__menu__list__link {
  text-transform: uppercase;
  margin-inline-start: -43px;
  font-size: 18px; }

body > [type="checkbox"]:checked ~ main {
  z-index: 1; }

@media (min-width: 700px) {
  .loopstudios_header {
    background-image: url("../images/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: 100%; }
  .loopstudios_header__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .loopstudios_header__menu__list {
    padding-inline-end: 48px; }
  .loopstudios_header__menu__list__link:hover {
    color: #f7f1f1;
    border-block-end: 1px #ffffff solid;
    padding-block-end: 8px; }
  .loopstudios_header__menu__label,
  .loopstudios_header__menu__navigation__list__header {
    display: none; }
  .loopstudios_header__menu__navigation {
    padding: 1rem;
    position: absolute;
    top: 5%;
    z-index: unset;
    left: initial;
    bottom: unset;
    width: auto;
    height: auto;
    box-shadow: none;
    transform: none;
    transition: none; }
  .loopstudios_header__title {
    max-width: 36%;
    margin: 0;
    font-size: 51px;
    border: #ffffff solid 3px;
    padding: 36px; } }

.loopstudios_main__foundation {
  padding-inline-end: 32px;
  padding-inline-start: 32px;
  padding-block-end: 54px;
  padding-block-start: 54px;
  text-align: center; }

.loopstudios_main__foundation__figure {
  margin-inline-start: 0;
  margin-inline-end: 0; }

.loopstudios_main__foundation__text_wrapper {
  max-width: 263px;
  margin: auto; }

@media (min-width: 700px) {
  .loopstudios_main__foundation {
    text-align: start;
    position: relative; }
  .loopstudios_main__foundation__image {
    width: 50%; }
  .loopstudios_main__foundation__text_wrapper {
    max-width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 54px;
    position: absolute;
    top: 33%;
    right: 22%; } }

.loopstudios_main__creations__all,
.loopstudios_main__creations__ses_all__wrapper {
  padding-inline-end: 32px;
  padding-inline-start: 32px; }

.loopstudios_main__creations__title {
  text-align: center; }

.loopstudios_main__creations__all__details__title {
  padding-block-end: 26px;
  padding-block-start: 39px;
  padding-inline-start: 16px;
  max-width: 99px;
  color: #ffffff; }

.loopstudios_main__creations__all__details:nth-of-type(1) {
  background-image: url("../images/mobile/image-deep-earth.jpg");
  background-repeat: no-repeat;
  background-size: 100%; }

.loopstudios_main__creations__all__details:nth-of-type(2) {
  background-image: url("../images/mobile/image-night-arcade.jpg");
  background-repeat: no-repeat;
  background-size: 100%; }

.loopstudios_main__creations__all__details:nth-of-type(3) {
  background-image: url("../images/mobile/image-soccer-team.jpg");
  background-repeat: no-repeat;
  background-size: 100%; }

.loopstudios_main__creations__all__details:nth-of-type(4) {
  background-image: url("../images/mobile/image-grid.jpg");
  background-repeat: no-repeat;
  background-size: 100%; }

.loopstudios_main__creations__all__details:nth-of-type(5) {
  background-image: url("../images/mobile/image-from-above.jpg");
  background-repeat: no-repeat;
  background-size: 100%; }

.loopstudios_main__creations__all__details:nth-of-type(6) {
  background-image: url("../images/mobile/image-pocket-borealis.jpg");
  background-repeat: no-repeat;
  background-size: 100%; }

.loopstudios_main__creations__all__details:nth-of-type(7) {
  background-image: url("../images/mobile/image-curiosity.jpg");
  background-repeat: no-repeat;
  background-size: 100%; }

.loopstudios_main__creations__all__details:nth-of-type(8) {
  background-image: url("../images/mobile/image-fisheye.jpg");
  background-repeat: no-repeat;
  background-size: 100%; }

.loopstudios_main__creations__ses_all__wrapper {
  text-align: center;
  padding-block-end: 54px;
  padding-block-start: 54px; }

.loopstudios_main__creations__ses_all__link {
  color: #000000;
  text-transform: uppercase;
  padding-block-end: 16px;
  padding-block-start: 16px;
  border: 2px solid;
  padding-inline-start: 42px;
  padding-inline-end: 54px;
  box-shadow: 0px 1px #000000; }

.loopstudios_main__creations__ses_all__link:hover {
  color: #ffffff;
  background-color: #000000;
  box-shadow: none; }

@media (min-width: 700px) {
  .loopstudios_main__creations {
    position: relative; }
  .loopstudios_main__creations__title {
    text-align: start; }
  .loopstudios_main__creations__all,
  .loopstudios_main__creations__ses_all__wrapper {
    padding-inline-end: 0;
    padding-inline-start: 0; }
  .loopstudios_main__creations__all {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px; }
  .loopstudios_main__creations__all__details:nth-of-type(1) {
    background-image: url("../images/desktop/image-deep-earth.jpg");
    background-repeat: no-repeat;
    background-size: 100%; }
  .loopstudios_main__creations__all__details:nth-of-type(2) {
    background-image: url("../images/desktop/image-night-arcade.jpg");
    background-repeat: no-repeat;
    background-size: 100%; }
  .loopstudios_main__creations__all__details__title {
    padding-block-start: 345px; }
  .loopstudios_main__creations__all__details:nth-of-type(3) {
    background-image: url("../images/desktop/image-soccer-team.jpg"); }
  .loopstudios_main__creations__all__details:nth-of-type(4) {
    background-image: url("../images/desktop/image-grid.jpg"); }
  .loopstudios_main__creations__all__details:nth-of-type(5) {
    background-image: url("../images/desktop/image-from-above.jpg"); }
  .loopstudios_main__creations__all__details:nth-of-type(6) {
    background-image: url("../images/desktop/image-pocket-borealis.jpg"); }
  .loopstudios_main__creations__all__details:nth-of-type(7) {
    background-image: url("../images/desktop/image-curiosity.jpg"); }
  .loopstudios_main__creations__all__details:nth-of-type(8) {
    background-image: url("../images/desktop/image-fisheye.jpg"); }
  .loopstudios_main__creations__ses_all__link {
    position: absolute;
    top: 0;
    right: 0; } }

.loopstudios_footer {
  background-color: #000000;
  padding-block-start: 32px;
  padding-block-end: 48px;
  text-align: center; }

.loopstudios_footer__logo__image {
  width: 200px; }

.loopstudios_footer ul {
  padding-inline-start: 0; }

.loopstudios_footer__list {
  padding-block-start: 24px; }

.loopstudios_footer__menu_link {
  color: #f7f1f1; }

.loopstudios_footer__menu_link:hover {
  color: #ffffff;
  border-block-end: 1px #ffffff solid;
  padding-block-end: 8px; }

.loopstudios_footer__icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-block-start: 32px; }

.loopstudios_footer__icons__link:hover {
  color: #ffffff;
  border-block-end: 1px #ffffff solid;
  padding-block-end: 8px; }

.loopstudios_footer__icons__list {
  padding-inline-end: 16px; }

.loopstudios_footer__image {
  width: 32px; }
